<title>Search Players</title>
<h1>Search Players</h1>

<ul>
  <li>PlayerID,yearID,H,AB,(H/AB)</li>
  <% @players.each do |player| %>
    <li>
       <%= player.playerID %>
       <%= player.yearID %>
       <%= player.H %>
       <%= player.AB %>
       <%= ((player.H).to_f/(player.AB).to_f).round(5) %>
    </li>
  <% end %>
</ul>

