<title>Show Player</title>
<h1>Show Player</h1>

<h1><%= @player.id %></h1><h1><%= @player.playerID %></h1>, <h1><%= @player.yearID %></h1>, <h1><%= @player.teamID %></h1>, <h1><%= @player.G %></h1>

